@font-face {
  font-family: "quite_magicalregular";
  src: url("fonts/quite_magical_-_ttf-webfont.woff2") format("woff2"),
    url("fonts/quite_magical_-_ttf-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "quite_magicalregular" !important;
  font-size: 90px !important;
}

h2 {
  font-family: "quite_magicalregular" !important;
  font-size: 70px !important;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif  !important;
  /* background-image: url("../images/sloth-theme/flying-sloth.jpg");
  background-repeat: no-repeat; */
  /* background-size: 100% */
}

table {
  margin: 0 auto;
  width: 500px !important;
}

input, select {
  height: 35px;
}

h1, #bet-header span, .credit-span {
  color: lightseagreen;
}

div#slot-machine {
  padding: 56px 112px 48px 42px;
  background-image: url(../images/game/redslotmachine2.png);
  background-repeat: no-repeat;
  background-size: 590px auto;
  margin: 27px auto 0;
  width: 590px;
}

#slot-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  width: 116%;
  height: 243px;
}

.slot-images-size {
  width: 33%;
}

.slot-images-size img {
  height: 160px;
}

#slot-machine-header div button {
  margin-left: 10px !important;
}

.spin-button {
  width: 100px;
  margin: 22px 0 0;
}

#bet-amount-input {
  width: 50px;
  margin-right: 10px;
}

#bet-header {
  font-size: 26px;
}


.text {
  font-size: 30px;
}

.text-magical {
  font-family: "quite_magicalregular" !important;
  font-size: 60px;
}

.form-container {
  padding: 3% 44.5%;
  flex-direction: column;
  text-align: left;
}

.form-container-items {
  margin-top: 15px;
  border-radius: 6px;
}