@font-face {
  font-family: "quite_magicalregular";
  src: url("fonts/quite_magical_-_ttf-webfont.woff2") format("woff2"),
    url("fonts/quite_magical_-_ttf-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: blue;
  font-family: "quite_magicalregular" !important;
  font-size: 80px !important;
}

h2 {
  font-family: "quite_magicalregular" !important;
  font-size: 60px !important;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

table {
  margin: 0 auto;
  width: 500px !important;
}

/* .slot-machine-border {
  border: thick double;
} */

div#slot-machine {
  padding: 190px 126px 58px 51px;
  background-image: url(../images/game/slotmachine.png);
  background-repeat: no-repeat;
  background-size: 860px auto;
  margin: 14px auto 0;
  width: 860px; 
}

#slot-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  width: 100%;
  height: 250px;
}

.slot-images-size {
  width: 33%;
}

.slot-images-size img {
  height: 198px;
}

#slot-machine-header div button {
  margin-left: 10px !important;
}

.spin-button {
  width: 10%;
}

#bet-amount-input {
  width: 50px;
  margin-right: 10px;
  margin-right: 10px;
}

#bet-header {
  font-size: 26px;
}

#bet-header span {
  color: blue;
}

.credit-span {
  color: blue;
}

.text {
  font-size: 30px;
}
